/* google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* google Fonts */
* {
  font-family: "Poppins", sans-serif;
}
/* Common CSS  */
.btn-common {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background-color: #289bde;
  border: 1px solid #289bde;
  border-radius: 5px;
  padding: 13px 33px;
}
.btn-common:hover {
  color: #289bde !important;
  border: 1px solid #289bde !important;
}
section {
  padding-bottom: 130px;
}
/* Common CSS  */
/* Navigation bar  */
.navbar-brand {
  font-weight: 600;
  font-size: 40px;
}
.nav-link {
  color: #777777;
  font-size: 18px;
  font-weight: 400;
}
.nav-link:hover {
  color: #4a4a4a;
}
#register-btn {
  color: #289bde;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #289bde;
  padding: 13px 33px;
}
#register-btn:hover {
  color: #ffffff;
  background-color: #289bde;
}
/* Navigation bar  */
/* Carousel Slider  */
.carousel-item {
  max-height: 86vh;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}
.carousel-caption p {
  font-size: 18px;
}
.carousel-caption h5 {
  font-size: 65px;
}
.img-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: rgba(29, 29, 29, 0.7);
}
/* Carousel Slider  */
/* Popular Courses */
.section-title {
  font-size: 45px;
}
.course-details {
  color: #777777;
}
.price {
  font-size: 18px;
  color: #289bde;
}
/* Popular Courses */
/* Explore learning institute */

.learning-bg{
  background: #F4FAFD;
}
/* Explore learning institute */
/* Students feedback */
.fa-star{
  color: #FBBF24;
}
.fa-angle{
  background-color: #E6F6FF;
  color: #289BDE;
  font-size: 30px;
  width: 48px;
  height: 48px;
  transition: all 0.5s ease;
}
.fa-angle:hover{
  background-color: #289BDE;
  color: #FFFFFF;
  cursor: pointer;
}
.angle-right{
  right: -24px;
}
.angle-left{
  left: -24px;
}
/* Students feedback */
/* Responsive  CSS  */
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
