/* google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* google Fonts */
* {
  font-family: "Poppins", sans-serif;
}
/* Common CSS  */
.btn-common {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background-color: #289bde;
  border: 1px solid #289bde;
  border-radius: 5px;
  padding: 13px 33px;
}
.btn-common:hover {
  color: #289bde !important;
  border: 1px solid #289bde !important;
}
.section-title {
  font-size: 45px;
}
/* Common CSS  */
/* Navigation bar  */
.navbar-brand {
  font-weight: 600;
  font-size: 40px;
}
.nav-link {
  color: #777777;
  font-size: 18px;
  font-weight: 400;
}
.nav-link:hover {
  color: #4a4a4a;
}
#register-btn {
  color: #289bde;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #289bde;
  padding: 13px 33px;
}
#register-btn:hover {
  color: #ffffff;
  background-color: #289bde;
}
/* Navigation bar  */
/* Carousel Slider  */
.carousel-item {
  max-height: 86vh;
}
.carousel-caption h5 {
  font-size: 65px;
}
.carousel-caption p {
  font-size: 18px;
}
.img-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: rgba(29, 29, 29, 0.7);
}
/* Carousel Slider  */
/* Popular Courses */

.course-details {
  color: #777777;
}
.price {
  font-size: 18px;
  color: #289bde;
}
/* Popular Courses */
/* Explore learning institute */

.learning-bg {
  background: #f4fafd;
}
/* Explore learning institute */
/* Students feedback */
.fa-star {
  color: #fbbf24;
}
.fa-angle {
  background-color: #e6f6ff;
  color: #289bde;
  width: 48px;
  height: 48px;
  padding: 8px;
  transition: all 0.5s ease;
}
.fa-angle:hover {
  background-color: #289bde;
  color: #ffffff;
  cursor: pointer;
}
.angle-right {
  right: -24px;
}
.angle-left {
  left: -24px;
}
/* Students feedback */
/* Footer */
footer {
  background: #161616;
}
.icon {
  background: #242424;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
}
.icon:hover {
  cursor: pointer;
}
/* Footer */
/* Responsive  CSS  */
@media screen and (max-width: 992px) {
  /* common css  */
  .section-title {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
  .btn-common {
    font-size: 18px;
    padding: 11px 18px;
  }
  /* common css  */
  /* carousel slider  */
  .carousel-caption h5 {
    font-size: 40px;
  }
  .carousel-caption p {
    font-size: 16px;
  }
  .carousel-item {
    max-height: 400px;
  }
  .carousel-item .img-container {
    height: 400px;
  }
  .img-container img {
    height: 100%;
  }
  /* carousel slider  */
}
@media screen and (max-width: 768px) {
  /* common css  */
  .section-title {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  .btn-common {
    font-size: 16px;
    padding: 9px 18px;
  }
  /* common css  */
  /* carousel slider  */
  .carousel-caption h5 {
    font-size: 26px;
  }
  .carousel-caption p {
    font-size: 12px;
  }
  .carousel-item {
    max-height: 262px;
  }
  .carousel-item .img-container {
    height: 262px;
  }
  .img-container img {
    height: 100%;
  }
  /* carousel slider  */
  /* Explore learning institute */
  .learning-bg {
    background: #ffffff;
  }
  .learning-institute-text {
    background: #f4fafd;
  }
  /* Explore learning institute */
}
